* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #090417;
  color: rgb(6, 1, 134);
}

#modo {
  margin-top: 2%;
  margin-left: 75%;
}
.card-body {
  text-align: center;
}

.titulo {
  margin: 2%;
  background-color: rgb(185, 185, 185);
  text-align: center;
  border-radius: 1rem;
}
.card-img-top {
  max-width: 320px;
  max-height: 200px;
}

.card-text,
.card-title,
div {
  color: black;
}
.card {
  padding: 5px;
  margin-bottom: 25px;
}

#contenedor-inmuebles {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-primary {
  width: 100%;
}

#formularioo {
  display: flex;
  flex-direction: column;
  padding: 1% 1%;
  min-width: 225px;
  gap: 10px;
  background-color: #ededed;
  margin: calc(10% + 10%);
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 1rem;
  text-align: center;
}

#formulario {
  display: block;
}
